Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives: ##
- language
- lib
- pack

Some of the popular languages that Data Scientists use are:
1. python
2. r
3. sql

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. gploy
3. package

# Data Science Tools
|order|name|function|
|---|---|---|
|1|R|a|
|2|b|Python|
|3|SQL|c|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

In [ ]:
 # This will convert 200 minutes to hours by diving by 60

In [14]:
def minutes_to_hours(minutes: int) -> float:
    """
    Convert minutes to hours.
    
    Args:
        minutes: Number of minutes to convert
        
    Returns:
        Equivalent time in hours
    """
    return minutes / 60

## Author 
Qianhui